/* Estilo para el contenedor del formulario en RegisterForm */
.register-form-container {
  max-width: 400px;
  margin: 20px auto;
  text-align: center;
  background-color: var(--color-gris-claro);
  border: 1px solid var(--color-gris-medio);
  padding: 20px;
  border-radius: 10px;
}

/* Estilo para el título "Registro" en RegisterForm */
.register-form-title {
  font-size: 28px;
  margin-bottom: 30px;
  color: var(--color-rojo-medio);
}

/* Estilo para las etiquetas dentro del componente */
.register-form-container label {
  display: block;
  margin: 10px 0;
  color: var(--color-negro);
  font-size: 18px;
}

/* Estilo para los campos de entrada de texto en RegisterForm */
.register-form-container input[type="email"],
.register-form-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid var(--color-gris-medio);
  border-radius: 5px;
  font-size: 16px;
}

/* Estilo para el botón de registro en RegisterForm */
.register-form-container button {
  width: 100%;
  padding: 10px;
  background-color: var(--color-rojo-medio);
  color: var(--color-blanco);
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.register-form-container button:disabled {
  background-color: var(--color-gris-medio);
  cursor: not-allowed;
}

/* Estilo de hover para los botones en RegisterForm */
.register-form-container button:hover {
  background-color: var(--color-rojo-oscuro);
}
