.filter-meetup-form-container {
  display: inline-block;
  align-items: center;
  min-height: 20px;
  padding: 20px;
  border-radius: 10px;
  vertical-align: middle;
}

/* .meetups-list {
  list-style: none;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 1;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin: 150px 1rem 1rem 1rem;
  max-width: 100%;
  flex-wrap: wrap;
  margin-top: 30px;
} */

.tarjeta-id {
  /* width: unset !important; */
  width: 100%;
  max-width: 350px;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  /* padding: 1rem; */
  text-align: center;
  border: 1px solid black;
  border-radius: 20px;
  height: 400px;
}
.tarjeta-id > h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

p.filter-id-description {
  margin-bottom: 10px;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.datos-container-id {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.tarjeta-id > img {
  border-radius: 20px 20px 0 0;
}

/* Estilo para los campos de entrada de texto en FilterMeetupByIdForm */
.filter-meetup-form-container input[type="number"] {
  padding: 8px;
  border: 1px solid var(--color-gris-oscuro);
  background-color: var(--color-gris-claro);
  color: var(--color-negro);
  border-radius: 5px;
  font-size: 16px;
  vertical-align: middle;
  width: 240px;
}

/* Estilo para el botón de buscar en FilterMeetupByIdForm */
.filter-meetup-form-container button {
  padding: 8px;
  background-color: var(--color-rojo-medio);
  color: var(--color-blanco);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 10px;
  vertical-align: middle;
  max-width: 45px;
  max-height: 35px;
}

.filter-meetup-form-container button:disabled {
  background-color: var(--color-gris-medio);
  cursor: not-allowed;
}

/* Estilo de hover para el botón en FilterMeetupByIdForm */
.filter-meetup-form-container button:hover {
  background-color: var(--color-rojo-oscuro);
}

.filtered-id-meetup-container {
  max-width: 50%;
  width: 100%;
}

li.meetups-list {
  display: flex;
  flex-direction: column;
  text-align: center;
}
