* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

h2 {
  text-align: center;
  margin: 0;
}

.ul-filtrada-id {
  margin-top: 30px;
  position: relative;
}

.h2-meetups-id {
  position: absolute;
  top: -30px;
  left: 0;
  margin: 0;
  font-size: 18px;
}
.container-filtrados {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.meetups-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 1.5rem;
}

.meetups-list > li {
  max-width: 350px;
  margin: 0 10px 1.5rem 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  height: 400px;
}

.meetups-list h2 {
  position: absolute;
  margin-top: -30px;
}

.meetup-image {
  max-width: 100%;
  height: 33.33% auto;
  object-fit: cover;
  margin-top: -1px;
}

.meetups-list > li h3 {
  font-size: 25px;
  margin-bottom: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.meetups-list-description {
  font-size: 16px;
  margin: 10px 0;
  text-align: left;
  display: flex;
  align-items: center;
}

.meetups-list > li img {
  width: 100%;
  max-height: 33.33%;
  max-width: 100%;
  border-radius: 20px 20px 0 0;
}

.meetups-list > li button {
  background-color: var(--color-rojo-medio);
  color: var(--color-blanco);
  border: none;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 10px;
}

.botonera {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 0.2rem;
}

.meetups-list > li button:hover {
  background-color: var(--color-rojo-oscuro);
}

.success-message {
  position: fixed;
  bottom: 500px;
  right: 0;
  left: 0;
  width: max-content;
  margin: 0 auto;
  padding: 5px;
  background-color: var(--color-rojo-medio);
  color: white;
  z-index: 10000;
  border-radius: 6px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  font-weight: bold;
  transition: opacity 0.3s ease;
}

.meetups-list > li .datos-container {
  margin-top: 30px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
}
.datos-meetups {
  padding-left: 0.1rem;
  padding-right: 0.5rem;
  padding-bottom: 0.8rem;
}

.contenedor-formularios {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.boton-crear {
  background-color: var(--color-rojo-medio);
  color: var(--color-blanco);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 120px;
  height: 35px;
  max-height: 35px;
  margin-left: -165px;
}

.boton-crear:hover {
  background-color: var(--color-rojo-oscuro);
}

.divs-formularios {
  display: flex;
  justify-content: flex-start;
}

.datos-container-city-theme {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
}

.datos-container-city-theme > p {
  margin-top: 10px;
  height: 110px;
}

.meetups-list-description {
  margin-left: 10px;
  margin-bottom: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
  overflow: hidden;
  word-wrap: break-word;
}

.filter-city-theme-description {
  margin-left: 10px;
  margin-bottom: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
  word-wrap: break-word;
}

li.no-meetups {
  display: flex;
  flex-direction: row;
  position: absolute;
  border: none;
  font-size: larger;
}
