/* Estilo para el contenedor del formulario CreateMeetupForm */
.create-meetup-container {
  display: flex;
  align-items: center;
  position: absolute;
  top: 120px;
  left: 0;
  width: 100%;
  padding: 20px;
  z-index: 999;
  margin-top: 130px;
}
/* Estilo para los elementos dentro del formulario */
.create-meetup-container label {
  margin-right: 10px;
  padding: 5px;
  border: 1px solid var(--color-gris-medio);
  border-radius: 5px;
  font-size: 14px;
  cursor: default;
}

.create-meetup-container input[type="text"]:hover,
.create-meetup-container input[type="date"]:hover,
.create-meetup-container input[type="time"]:hover,
.create-meetup-container textarea:hover,
.create-meetup-container button:hover {
  border: 1px solid var(--color-gris-oscuro);
  background-color: var(--color-gris-claro);
  color: var(--color-negro);
}

/* Estilo de hover para los elementos */
.create-meetup-container label:hover,
.create-meetup-container input[type="text"]:hover,
.create-meetup-container input[type="date"]:hover,
.create-meetup-container input[type="time"]:hover,
.create-meetup-container textarea:hover,
.create-meetup-container button:hover {
  border: 1px solid var(--color-gris-oscuro);
  background-color: var(--color-gris-claro);
  color: var(--color-negro);
}

/* Estilo específico para el botón en estado normal */
.create-meetup-container button {
  margin-right: 10px;
  margin-left: 10px;

  padding: 8px;
  background-color: var(--color-rojo-medio);
  color: var(--color-blanco);
  border: 1px solid var(--color-gris-medio);
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  pointer-events: auto;
  transition: background-color 0.3s;
}

.create-meetup-container button:hover {
  background-color: var(--color-rojo-oscuro);
}

/* Estilo de hover para el botón en estado deshabilitado */
.create-meetup-container button:disabled:hover {
  background-color: var(--color-gris-medio);
  cursor: not-allowed;
}
