.full-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container.create-meetup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-gris-claro);
  border: 1px solid var(--color-gris-medio);
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 80%;
  max-height: 80%;
  overflow: auto;
}

.form-container.create-meetup-container form {
  width: 100%;
}

.form-label {
  margin-bottom: 5px;
  font-size: 14px;
}

.meetup-form input[type="text"],
.meetup-form input[type="date"],
.meetup-form input[type="time"],
.meetup-form textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid var(--color-gris-medio);
  border-radius: 5px;
  font-size: 16px;
}

.meetup-form button {
  margin: 10px 0;
  padding: 8px;
  background-color: var(--color-rojo-medio);
  color: var(--color-blanco);
  border: 1px solid var(--color-gris-medio);
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.meetup-form button:hover {
  background-color: var(--color-rojo-oscuro);
}

.meetup-form button:disabled:hover {
  background-color: var(--color-gris-medio);
  cursor: not-allowed;
}
