/* Importación de la fuente */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

/* Definición de la paleta de colores */
:root {
  --color-negro: #0b090a;
  --color-semi-negro: #161a1d;
  --color-burdeos: #660708;
  --color-rojo-oscuro: #a4161a;
  --color-rojo-medio: #ba181b;
  --color-rojo-claro: #e5383b;
  --color-gris-oscuro: #b1a7a6;
  --color-gris-medio: #d3d3d3;
  --color-gris-claro: #f5f3f4;
  --color-blanco: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.imagen-boton {
  filter: invert(99%) sepia(1%) saturate(220%) hue-rotate(24deg)
    brightness(117%) contrast(100%);
}

/* Definición de la fuente para toda la aplicación */
body {
  font-family: "Lato", sans-serif;
}
