:root {
  --color-negro: #0b090a;
  --color-semi-negro: #161a1d;
  --color-burdeos: #660708;
  --color-rojo-oscuro: #a4161a;
  --color-rojo-medio: #ba181b;
  --color-rojo-claro: #e5383b;
  --color-gris-oscuro: #b1a7a6;
  --color-gris-medio: #d3d3d3;
  --color-gris-claro: #f5f3f4;
  --color-blanco: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}
